@import "tailwindcss";

@plugin "daisyui" {
  themes: emerald --default, dark --prefersdark, halloween, coffee, valentine;
}

@font-face {
  font-family: "Bungee Outline";
  src: url("~/public/fonts/BungeeOutline-Regular.ttf");
}
